server:
  port: 8888
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
    threads:
      min-spare: 5
      max: 50
  shutdown: graceful

spring:
  lifecycle:
    timeout-per-shutdown-phase: 15s
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/yeongseoksong/cloud-native-spring-config
          default-label: main
          timeout: 5
          clone-on-start: true # ?? ?? ??? ?? ?? ? ??
          force-pull: true  # ?? ??? ? ?? ???? ???? ??? ???? ?? ??

management:
  endpoints:
    web:
      exposure:
        include: configprops, env, health, heapdump, info, loggers, mappings, prometheus
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
#  info:
#    env:
#      enabled: true
#    java:
#      enabled: true
#    os:
#      enabled: true
#  metrics:
#    tags:
#      application: ${spring.application.name}

